/* common shared css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}

/* header css  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0b8b8;
    color: #ffffff;
    padding: 30px;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav li{
    font-size: 20px;
    font-weight: 400;
    margin-right: 30px;
}
ul li a{
    color: #FFF;
    text-decoration: none;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.banner-content {
    max-width: 600px;
    padding: 0px 150px 100px;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description {
    color: #27272799;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}


.banner-picture img {
    width: 500px;
    padding: 50px 30px 0px 0px;

}

/* feature section css */
.feature {
    padding: 100px 200px 150px;
}

.feature-content {
    text-align: center;
}

.feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.feature-description {
    color: #27272799;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.feature-img {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.feature-img .img {
    height: 330px;
    width: 275px;
    border-radius: 300px 300px 0px 0px;

}

.feature-img img {
    height: 264px;
    width: 200px;
    padding: 65px 38px 30px ;
}

.feature-img-1 {
    background: rgba(167, 33, 98, 0.15);
}

.feature-img-2 {
    background: rgba(5, 151, 160, 0.15);
}

.feature-img-3 {
    background: rgba(71, 125, 17, 0.15);
}

.img-info {
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
}


/* hot section css */

.hot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-content {
    text-align: center;
    max-width: 600px;
    padding: 200px 0px 200px 150px;

}

.hot-title {
    color: #272727;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hot-title span,
.foot-title span, .nav-title span {
    color: #E55473;
}

.hot-description {
    color: #27272799;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.hot-img img {
    width: 300px;
    height: 400px;
    padding-right: 200px;
}

/* insta section css */

.insta {
    padding: 100px 200px;
}

.insta-content {
    text-align: center;
}

.insta-title {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.insta-description {
    color: #27272799;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.insta-img {
    display: flex;
    justify-content: space-between;
}

.insta-img img {
    width: 205px;
    height: 240px;

}

/* deals section css */
.deals {
    height: 400px;
    margin: 0px 200px 100px 200px;

}

.deals-content {
    background-image: url('image/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
    text-align: center;
}

.deals-title {
    color: #272727;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.deals-info {
    color: #27272799;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.deals-content input {
    background: #FFF;
    border: none;
    border-radius: 8px;
    padding: 22px 150px 22px 22px;
    margin: 10px;
}

/* footer section css */

.foot {
    background: #111010;
    color: #FFF;

}

.foot-content {
    align-items: center;
    text-align: center;
    padding: 130px 300px;
}

.foot-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

.foot-info {
    color: #ffffffe6;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

small {
    color: #ffffff66;
    font-size: 14px;
    font-weight: 400;
}